body {
  margin: 0;
  background-color:#e7f1fb;
}

/* LOGIN  */
.login {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login h2 {
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  box-sizing: border-box;
}
.login .submit {
  display: flex;
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  margin-left: 170px;
  color: #202020;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.login .submit:hover {
  background-color: #1b4332;
  color: #eff3f4;
  transition: background-color 0.2s;
}

/* NAV BAR */
.navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b385f;
  position: fixed;
  top: 0;
  width: 100%;
}
.navlist{
  float: left;
}
.navlogout{
  float: right;
}
.navlist a, 
.navlogout a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navlist:hover,
.navlogout:hover {
  background-color: #3373b0;
}
